/* Yes these 2 are not colors, doesnt warrant a rename at this time */
/* Main Window */
/* Elements */
/* Special Elements */
/* Widgets */
/* SCC */
/* Misc */
body,
html {
  margin: 0;
  padding: 0;
  background: #232323 !important;
  width: 100%;
  height: 100%;
}
body#colorpicker {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  color: #d8ae48;
  color: #000000;
}
.rgbaButtons {
  padding-bottom: 5px;
}
.rgbaButtons #close {
  margin-right: 0;
}
body .cp-app .cp-resize {
  display: none !important;
}
body .cp-app .cp-exit {
  display: none !important;
}
body .cp-app {
  color: #b5b5b5 !important;
  background-color: #232323 !important;
  float: left;
  border-radius: 0;
  font-family: 'Segoe UI', 'Droid Sans', 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 13px;
}
body .cp-app .cp-slds {
  top: 0;
}
body .cp-app .cp-panel {
  background-color: #191919;
  border-color: #191919;
  top: 0;
}
body .cp-app .cp-panel .cp-disp {
  background-color: #232323;
}
body .cp-app .cp-panel .cp-cont,
body .cp-app .cp-panel .cp-cold {
  border-color: #383737;
  border-top: none;
  border-bottom: none;
  height: 2px;
  top: -2px;
}
body .cp-slds .cp-curm,
body .cp-panel .cp-disp,
body .cp-panel .cp-nsarrow,
body .cp-app .cp-exit,
body .cp-app .cp-memo-cursor,
body .cp-app .cp-resize {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGEAAABDCAYAAACMYmueAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AgCEzcmHIMKiAAAASpJREFUeNrt2DFugzAUh/HPvUWlipyAJbvHjr1crtIxY8ZILDlBcxF3eWyFEMkRpny/MQ/pgf+xjUnAB9v2Dly3/ABvyBBkCIYgQzAEGYIhyBAMQYZgCDIEQ5AhGIIMwRBkCJIkSZIkabPSwut6IANH4AD8AANwAW6vuLFSymTPlNJtbyF8Al8x4EMMxiEGJwPfwLlyAA97ppTOe5kpPXACuol6F/W+5gwopZxKKd1EvYt6/18G+dFX1Bz/xvtE/R71XPGeciw5f/aM32v3bDqEYywHc4a4rpY1ejYdwrghzhnX61rW6Nl0CEsedsmgPWONnk2HsGTaL1k+nrFGz6ZDGDfAubejcfOu5QLkubejF/T0nLD3c4InZkmSJEmSJEmSJEmSJEmStFG/VABomh/c1FEAAAAASUVORK5CYII=') !important;
}
body .cp-panel .cp-hsv,
body .cp-panel .cp-hsl,
body .cp-panel .cp-rgb,
body .cp-panel .cp-cmyk,
body .cp-panel .cp-Lab,
body .cp-panel .cp-alpha,
body .no-alpha .cp-panel .cp-HEX,
body .cp-panel .cp-HEX {
  border-top-color: transparent !important;
  border-bottom-color: #525050 !important;
}
body .cp-panel .cmyk-mode,
body .cp-panel .hsv-mode,
body .rgb-r .rgb-r-butt,
body .rgb-g .rgb-g-butt,
body .rgb-b .rgb-b-butt,
body .hsv-h .hsv-h-butt,
body .hsv-s .hsv-s-butt,
body .hsv-v .hsv-v-butt,
body .hsl-h .hsl-h-butt,
body .hsl-s .hsl-s-butt,
body .hsl-l .hsl-l-butt,
body .cp-panel .rgb-r-labl,
body .cp-panel .rgb-g-labl,
body .cp-panel .rgb-b-labl,
body .cp-panel .alpha-butt,
body .cp-panel .HEX-butt,
body .cp-panel .Lab-x-labl {
  background-color: #040404 !important;
  border-color: #383737 !important;
}
body .cp-panel .cp-butt {
  border-color: transparent !important;
}
body .cp-panel .cp-butt:active {
  background-color: #000000 !important;
}
body .cp-panel .cp-disp {
  border-color: #383737 !important;
}
body .no-rgb-r .rgb-r-labl,
body .no-rgb-g .rgb-g-labl,
body .no-rgb-b .rgb-b-labl,
body .mute-alpha .alpha-butt,
body .no-HEX .HEX-butt,
body .cmy-only .Lab-x-labl {
  background-color: #232323 !important;
}
body .alpha-bg-b .cp-ctrl,
body .cp-panel .cp-bres,
body .cp-panel .cp-bsav {
  background-color: #191919;
}
body .alpha-bg-b .cp-ctrl:hover,
body .cp-panel .cp-bres:hover,
body .cp-panel .cp-bsav:hover {
  cursor: pointer;
}
body .cp-panel .cp-col1,
body .cp-panel .cp-col2 {
  border-color: #191919 !important;
  line-height: 30px;
}
body .cp-panel .cp-bres,
body .cp-panel .cp-bsav {
  background-color: #141313 !important;
  border-top: none !important;
  border-color: #141313 !important;
  color: #b2b2b2 !important;
  line-height: 28px;
}
body .cp-panel .cp-bres:hover,
body .cp-panel .cp-bsav:hover,
body .cp-panel .cp-bres:focus,
body .cp-panel .cp-bsav:focus,
body .cp-panel .cp-bres:active,
body .cp-panel .cp-bsav:active {
  background-color: #282828 !important;
  border-color: #282828 !important;
}
body .cp-panel .cp-bres {
  border-right: 1px solid #191919 !important;
}
body .cp-panel .cp-bsav {
  border-right: 1px solid #191919 !important;
}
